{% extends 'base.html.twig' %}

{% block title %}Scene 1{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/generative.css') }}">
{% endblock %}

{% block body %}
<h1>RANDOM LINE WALKERS</h1>
<div class="mainContainer">
    <div class="descriptionBox"> Description </div>
    <div id="sketch"></div>
    <div class="parametersBox">
        <p>This is a paragraph element.</p>
             <input type="range" id="colorSlider" min="1" max="360" value="5"step="10">
            <input type="range" id="lineSlider" min="1" max="200" value="100" step="1">
            <input type="range" id="weightSlider" min="0.2" max="10" value="5"step="0.1">
            <input type="range" id="saturationSlider" min="0" max="100" value="90" step="5">

            <input type="range" id="opacitySlider" min="0.05" max="1" value="0.7"step="0.05">
            <input type="range" id="velocitySlider" min="0" max="15" value="5" step="0.1">
            <input type="range" id="noiseOctaveSlider" min="0" max="10" value="4"step="1">
            <input type="range" id="noiseFalloffSlider" min="0" max="1" value="0.5" step="0.05">
        <button id="sendDataButton" class="customButton">Save</button>
    </div>
    
    <div id="dataScene" style="display:none;" ></div>

</div>
{% if app.user %}
    <script>
        var userId = {{ app.user.id }};
    </script>
{% endif %}
 
<script src="{{ asset('js/sketch.js') }}"></script>

{% endblock %}
