{% extends 'base.html.twig' %}

{% block title %}Scene 1{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/generative.css') }}">
{% endblock %}

{% block body %}
<h1>RANDOM LINE WALKERS</h1>
<div class="mainContainer">
    <div class="descriptionBox"> Description </div>
    <div id="sketch"></div>
    <div class="parametersBox">
        <p>This is a paragraph element.</p>
        <input type="range" id="colorSlider" min="1" max="100" value="127">
        <input type="range" id="lineSlider" min="10" max="200" value="100">

        <button id="sendDataButton" class="customButton">Save</button>
    </div>
    
    <div id="dataScene" style="display:none;" ></div>

</div>
{% if app.user %}
    <script>
        var userId = {{ app.user.id }};
    </script>
{% endif %}
 
<script src="{{ asset('js/sketch.js') }}"></script>

{% endblock %}
