.customButton {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 17px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  color: #FFFFFF;
}

.customButton:active,
.customButton:hover {
  outline: 0;
}

.customButton span {
  background-color: rgb(5, 6, 45);
  padding: 10px 14px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.customButton:hover span {
  background: none;
}

.marginButton{
  margin:10px;
  margin-top: 30px;
}

/* Second button style */

.whiteButton{
  margin-top: 15px;
}

.whiteButton span{
  background-color: rgba(230, 230, 255, 0.734);
  color: black;
}
/* Create button style */

/* Add scene */

.createButton{
  margin-top: 15px;
  width: 170px;
  height: 65px;
}
.createButton span{
  background-color: rgba(230, 230, 255, 0.734);
  color: black;
  padding-top: 20px;
  font-size: 24px;
  font-weight: 600;
}
/* Artist role : */

.artistRoleButton{
    margin-top: 15px;
    width: 200px;
    height: 65px;
  }
.artistRoleButton span{
    background-color: rgba(230, 230, 255, 0.734);
    color: black;
    padding-top: 22px;
    font-size: 20px;
    font-weight: 600;
  }
.homeButton{
  margin-top: 30px;
}
/* --------------------------------------------- */

@media (max-width: 860px) {
  .customButton {
    font-size: 15px;
    min-width: 100px;
  }

/* Create button style */

  /* Add scene */

  .createButton{
    margin-top: 15px;
    width: 150px;
    height: 50px;
  }
  .createButton span{
    background-color: rgba(230, 230, 255, 0.734);
    color: black;
    padding-top: 15px;
    font-size: 17px;
    font-weight: 600;
  }
  /* Artist role : */

  .artistRoleButton{
    margin-top: 15px;
    width: 180px;
    height: 50px;
  }
  .artistRoleButton span{
    background-color: rgba(230, 230, 255, 0.734);
    color: black;
    padding-top: 15px;
    font-size: 17px;
    font-weight: 600;
  }









}
