

  /* ---- Multiplayer panel ---- */


  .multiplayer-container{
    left: 5vw;
    top: 3vw;
    position: absolute;
    font-size: 15px;
    color: var(--var-white);
    z-index: 10;
}
.multiplayer-container h3{
    color: var(--var-white);
    /* background-color: #00000071; */
}

.multiplayer-container .card-title{
    font-size: 25px;
    color: var(--var-black);
}
.players{
    display: flex;
    align-items: center;
    padding: 10px;
    min-height: 15vh;
    background-color: #0000005d;
}
.players div{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.chat{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
    font-size: 13px;
    min-height: 20vh;
    background-color: #0000005d;

}
.multi-card{
    padding: 15px;
    min-width: 17vw;
}
.multi-card .card-title{
    padding-bottom: 5px;
}