{% extends 'base.html.twig' %}

{% block title %}Community{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/create.css') }}">
{% endblock %}

{% block body %}

  <h1>Community page incoming...</h1>
  <img src={{ asset("/images/design/logo/logo-purple.png") }} alt="logo NexusLab purple">

{% endblock %}
