{% extends 'base.html.twig' %}

{% block title %}Community{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/community.css') }}">
{% endblock %}

{% block body %}

  <h1 class="title">Community page incoming...</h1>
  <img class="logoImg" src={{ asset("/images/design/logo/logo-purple.png") }} alt="logo NexusLab purple">

{% endblock %}
