{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

 {% for message in app.flashes('success')%}
      <div class="succesFlashMessages">
        {{message}}
      </div>
{% endfor %}

{% endblock %}
