/* =========================
Fonts
=========================
font-family: 'Outfit', sans-serif;
*/ 

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* 
========================
Variables
========================
*/

:root {
    
    font-size: 15px;
}

/* 
=======================
Sorting form
=======================
*/
.form-group{
    display: flex;
    justify-content: center;
    margin: 0.6vw;
    align-items: center;
    color: white;
}
.formLabel{
    font-size: 22px;
    padding: 10px ; 
}

.formOptions:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.formOptions:hover {
    cursor: pointer;
}

.formOptions {
    display: block;
    width: 80px;
    height: 33px;
    text-align: center;
    /* padding: 0.5rem; */
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: #337ab7;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* 
=======================
Cards Setup
=======================
*/

h1 {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    color: white;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    background-color: var(--var-main-darkest);
}

.cardsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 25px 0 25px;

}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 300px;
    width: 350px;
    margin: 2em auto;
    background-color: var(--var-card-dark);
    border-radius: 15px;
    margin-bottom: 1rem;
    padding: 2rem;
    align-self: flex-start;
    /* min-height: 675px; */
    min-height: 750px;
}
.cardHeader{
  min-height: 200px;
}
.smallAvatar {
    width: 3em;
    height: 3em;
    border-radius: 200px;
    outline: 2px solid white;
    margin-right: 1.4em;
    border-radius: 50%;
}

span {
    color: white;
}
.artworkImg{
    width: 100%;
    border-radius: 15px;
    display: block;
}

.imgContainer{
    position: relative;
    display: block;
    color: inherit;
}

.dataButton{
    margin-top: 20px;
}
.hidden{
    display: none;
}
.cardTitle{
    font: var(--var-heading);
    color: var(--var-lightest);
    padding: 0.5em 0;
    word-wrap: break-word;
}
.commentBox{
    font: var(--var-para);
    color: var(--var-soft-blue);
    word-wrap: break-word;
    max-height: 53px;
    /* min-height: 60px; */
    overflow: hidden; 
    flex-direction: column;
    transition: max-height 0.3s;
    position: relative;
    display: flex;
    align-items: start;
    word-break: break-all;
    /* margin-top: 10px; */
    /* flex-wrap: wrap; */ 
}

.commentBox:hover{
    max-height: 200px;
    overflow: auto;
}
.noCommentImg{
    width: 50px;
    margin: auto;
}
.cardBottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 25vh; */
}
p {
    font: var(--var-para);
    color: var(--var-soft-blue);
}
.cardAttribute{
    margin-top: 0.5em;
    padding-bottom: 0.5em;
    padding-top: 1.5em;
    border-top: 2px solid var(--var-line-dark);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.userInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.cardSpec{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.sceneType{
    margin-top: 6px;
}
.generative{
    background-color: var(--var-primary-dark);
    padding: 7px;
    border-radius: 10px;
}
.data{
    background-color: var(--var-secondary);
  
    padding: 7px;
    border-radius: 10px;
}
.generative:hover, .data:hover{
    opacity: 0.5;
}
/* Image details */

img.eye {
    position: absolute;
    width: 100%;
    max-width: 2em;
    top: 44%;
    left: 43%;
}
@media (min-width:400px) {
    img.eye {
      max-width: 3em;
  }
}

.imgContainer::after {
    content: '';
    background-image: url("https://i.postimg.cc/9MtT4GZY/view.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5rem;
    background-color: hsla(178, 100%, 50%, 0.3);
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}
.imgContainer:hover::after {
    opacity: 1;
  }

  @media (min-width:600px) {
    body {
        font-size: 18px;
    }
}

/* Open with parameters slide button */
.buttonBox{
    
}

.slideButton {
    bottom: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    background: #68009d;
    color: white;
    padding: 8px 10px;
    border-radius: 50px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
    transition: 0.35s ease all;
    overflow: hidden;
    max-width: 42px; /* icon size */
    margin-top: 10px;
  }
  
  .slideButtonIcon {
    position: relative;
    top: 2px;
  }
  
  .slideButtonLabel {
    text-transform: uppercase;
    font-size: 0.7em;
    white-space: nowrap;
    padding: 8px;
    opacity: 0;
    transform: translateX(10px);
    transition: 0.25s ease all;
  }
  
  .card:hover {
    .slideButton {
      max-width: 100%;
    }
    .slideButtonLabel {
      opacity: 1;
      transform: translateX(0);
      transition: 0.25s 0.1s ease-in opacity, 0.15s 0.1s cubic-bezier(.175, .885, .32, 1.275) transform;
    }
  }

@media screen and (max-width:992px)
{
    .generative{
        background-color: var(--var-primary-dark);
        padding: 4px;
        border-radius: 10px;
    }
    /* Open with parameters slide button */
.buttonBox{
    
}

.slideButton {
    bottom: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    background: #68009d;
    color: white;
    padding: 8px 10px;
    border-radius: 50px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
    transition: 0.35s ease all;
    overflow: hidden;
    max-width:none; /* icon size */
    margin-top: 10px;
  }
  
  .slideButtonIcon {
    position: relative;
    top: 2px;
  }
  
  .slideButtonLabel {
    text-transform: uppercase;
    font-size: 0.7em;
    white-space: nowrap;
    padding: 8px;
    opacity: 1;
    transform:none;
    transition: 0.25s ease all;
  }
  .slideButton:hover{
    opacity: 0.8;
    color: var(--var-primary);
  }

}
