body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Assure que le contenu de la page occupe au moins la totalité de la hauteur de la fenêtre du navigateur */
}

main {
    flex: 1; /* Permet au contenu principal de s'étendre pour remplir l'espace disponible restant */
}


/* --------------- Flash messages ------------------*/

.succesFlashMessages{
    text-align: center;
    background-color: rgba(148, 255, 148, 0.689);
    padding: 10px;
    font-weight: 700;
}
.warningFlashMessages{
    text-align: center;
    background-color: rgba(255, 148, 148, 0.689);
    padding: 10px;
    font-weight: 700;
}


/* --------------- Footer ------------------*/
footer {
    /* flex-shrink: 0; Empêche le footer de rétrécir lorsqu'il y a peu de contenu */
    display: flex;
    background-color: rgb(43, 0, 64);
    color: white;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    min-height: 150px;
}
.topFooter{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    width: 100%;
    gap: 7vw;
}
.topFooter ul{
    display: flex;
    justify-content: space-between;
    gap: 7vw;
    
}
.centerFooter{
    display: flex;
    gap: 50px;
    margin: 20px;

}
.centerFooter img{
    width: 40px;

}
.bottomFooter{
    margin: 20px;

}

