body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Assure que le contenu de la page occupe au moins la totalité de la hauteur de la fenêtre du navigateur */
    margin-top: 70px;
}

main {
    flex: 1; /* Permet au contenu principal de s'étendre pour remplir l'espace disponible restant */
}


/* --------------- Flash messages ------------------*/

.succesFlashMessages{
    text-align: center;
    background-color: rgba(148, 255, 148, 0.689);
    padding: 10px;
    font-weight: 700;
}
.warningFlashMessages{
    text-align: center;
    background-color: rgba(255, 148, 148, 0.689);
    padding: 10px;
    font-weight: 700;
}

/* Update button style */

.customButton{
    align-items: center;
    background-color: rgb(5, 6, 45);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 17px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    color: #FFFFFF;
    padding: 10px 14px;
    margin: 10px;
}

.customButton:hover {
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
 
}

/* --------------- Footer ------------------*/
footer {
    /* flex-shrink: 0; Empêche le footer de rétrécir lorsqu'il y a peu de contenu */
    display: flex;
    background-color: rgb(43, 0, 64);
    color: white;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    min-height: 150px;
    z-index: 10;
}
.topFooter{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    width: 100%;
    gap: 7vw;
}
.topFooter ul{
    display: flex;
    justify-content: space-between;
    gap: 7vw;
    
}
.centerFooter{
    display: flex;
    gap: 50px;
    margin: 20px;

}
.centerFooter img{
    width: 40px;

}
.bottomFooter{
    margin: 20px;

}
