
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.NexusLabImg{
    width: 400px;
    margin-bottom: 80px;   
}
.firstBox{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    /* background-color: var(--var-main-darkest); */
}
.subBox h1{
   margin-bottom: 30px;
   text-align: center;
   font-size: 40px;
}
.subBox{
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.subBox p{
   color: white;
}
.secondBox{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
.secondBoxCenter{
  /* background-color: var(--var-line-dark); */
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 70px;
}
.secondBoxCenter h1{
  font-size: 40px;
}
.secondBoxCenter p{
  width: 40%;
  text-align: center;
  color: white;
}

.bottomBox{
  /* background-color: var(--var-main-darkest); */
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 70px;
}
.bottomSubBox{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 100%;
}
.bottomSubBox p{
  color: white;
}
.bottomBox h1{
  font-size: 40px;
  text-align: center;
}
.codeImg{
  width: 500px;
  height: 500px;
  clip-path: polygon(40px 0, 100% 0%, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0 40px); 
}

/* Spinning light animation */

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.spinningLight {
	position: relative;
	z-index: 0;
	overflow: hidden;
	padding: 2rem;

	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		/* background-color: #39995300; */
		background-repeat: no-repeat;
		background-size: 40% 40%, 40% 40%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image:linear-gradient(var(--var-cyan), var(--var-cyan));
		animation: rotate 5s linear infinite;
	}
	
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 4px;
		top: 3.5px;
		width: calc(100% - 8px);
		height: calc(100% - 8px);
    background-image: url("/images/design/share-your-code.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(40px 0, 100% 0%, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0 40px);
	}
}

/* 
========================
SlidesShow
========================
*/


.slideshowContainer {
  position: relative;
}

#slideshow {
  z-index: 1;
  position: relative;
  text-align: center;
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
  clip-path: polygon(40px 0, 100% 0%, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0 40px);
}
.slideshowBorder {
  /* background-color: var(--var-primary); */
  box-shadow: inset 0 0 40px var(--var-primary);
  position: absolute;
  top: 0;
  left: 0;
  scale: 1.01;
  clip-path: polygon(40px 0, 100% 0%, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0 40px);
  width: 100%; /* add 20px to the width to make it larger than the slideshow */
  height: 100%;
  z-index: 0; /* make sure it's behind the slideshow */
}

.slide-wrapper {
  width: 2184px;
  animation: slide 18s ease infinite;
  -webkit-animation: slide 18s ease infinite;
}

.slide {
  position: relative;
  float: left;
  height: 510px;
  width: 728px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform-style: preserve-3d; 
  perspective: 1000px; */
}
.slide img{
  animation: slideWidth 18s ease infinite;
  -webkit-animation: slideWidth 18s ease infinite;
  transform-style: preserve-3d; 
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.slide p{
  color: white;
  animation: slideWidth 18s ease infinite;
  -webkit-animation: slideWidth 18s ease infinite;
  transform-style: preserve-3d; 
  font-size: 23px;
  font-weight: 600;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.slide:nth-child(1) {
  background-image: url("/images/design/background-cyber-form.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide:nth-child(2) {
  background-image: url("/images/design/background-creativeCoding.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide:nth-child(3) {
  background-image: url("/images/design/gallery.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.pA1{
  position: absolute;
  top:50px;
  left:50px;
  
}
.pA2{
  position: absolute;
  bottom:50px;
  right:50px;
}
.pB1{
  position: absolute;
  top:50px;
  right:50px;
}
.pB2{
  position: absolute;
  bottom:50px;
  left:50px;
}

@keyframes slide {
  30% {filter: blur();
      margin-left: 0px;
  }
  35% {filter: blur(5px);}
  40% {filter: blur();
      margin-left: -728px;
  }
  60% {filter: blur();
      margin-left: -728px;
  }
  65% {filter: blur(5px);}
  70% {filter: blur();
      margin-left: -1456px;
  }
  90% {filter: blur();
      margin-left: -1456px;
  }
  95% {filter: blur(5px);}
}
@-webkit-keyframes slide {
  30% {filter: blur();
      margin-left: 0px;
  }
  35% {filter: blur(5px);}
  40% {filter: blur();
      margin-left: -728px;
  }
  60% {filter: blur();
      margin-left: -728px;
  }
  65% {filter: blur(5px);}
  70% {filter: blur();
      margin-left: -1456px;
  }
  90% {filter: blur();
      margin-left: -1456px;
  }
  95% {filter: blur(5px);}
  
}

@keyframes slideWidth {
      27% {transform: perspective(800px) translate3d(0, 0, 0px);
        filter: blur(0px);
      }
      35% {transform: perspective(800px) translate3d(0, 0, 150px);
        filter: blur(10px);
      }
      43% {transform: perspective(800px) translate3d(0, 0, 0px);
        filter: blur(0px);
      }
      57% {transform: perspective(800px) translate3d(0, 0, 0px);
        filter: blur(0px);
      }
      65% {transform: perspective(800px) translate3d(0, 0, 150px);
        filter: blur(10px);
  }
      73% {transform: perspective(800px) translate3d(0, 0, 0px);
        filter: blur(0px);
      }
      87% {transform: perspective(800px) translate3d(0, 0, 0px);
        filter: blur(0px);
      }
      95% {transform: perspective(800px) translate3d(0, 0, 150px);
        filter: blur(10px);
  }
}
@-webkit-keyframes slideWidth {
    25% {transform: perspective(800px) translate3d(0, 0, 0px);
    }
    35% {transform: perspective(800px) translate3d(0, 0, 150px);
      filter: blur(10px);
    }
    45% {transform: perspective(800px) translate3d(0, 0, 0px)
    }
    55% {transform: perspective(800px) translate3d(0, 0, 0px);
    }
    65% {transform: perspective(800px) translate3d(0, 0, 150px);
  }
    75% {transform: perspective(800px) translate3d(0, 0, 0px)
    }
    85% {transform: perspective(800px) translate3d(0, 0, 0px)
    }
    95% {transform: perspective(800px) translate3d(0, 0, 150px);
  }
}

/* 
========================
p5js sketch
========================
*/

#myCanvas{
  position: absolute;
  top:0;
  /* top: 100vh;  display canvas under the loading screen */
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}