{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}

<h1 class="dashboardTitle">Admin Dashboard</h1>
<div class="dashboardContainer">
    <div class="buttonBox">
        <a href="{{ path('admin_users')}}" class="customButton adminButton">Edit Users</a> 
        <a href="{{ path('admin_gallery')}}" class="customButton adminButton">Edit Gallery</a> 
    </div>
    <div class="dashboardTop"> 
        {% block request_tables %}
            {% include 'admin/_request_table.html.twig' with {
                title: 'Artist role requests',
                requests: roleRequests,
                entity: 'ArtistRole',
                dateField: 'createdAt'
            } %}
            {% include 'admin/_request_table.html.twig' with {
                title: 'New scene proposals',
                requests: sceneRequests,
                entity: 'AddScene',
                dateField: 'updatedAt'
            } %}
        {% endblock %}
    </div>
</div>

{% endblock %}
