{% extends 'base.html.twig' %}

{% block title %}Artist Dashboard{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/artist.css') }}">
{% endblock %}

{% block body %}
    <h1 class="headerTitle">Artist Dashboard</h1>
    <div class="content">Incoming..</div>

{% endblock %}
