.modalContainer{
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.modaleRow{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin:15px;
}
.modaleImg{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin: 20px;
}
.modaleImgBox{
    display: flex;
    justify-content: center;
}