.modalContainer{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 15;
}
.modalBox{
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 15px;
    background-color: white;
}
.modaleHeader{
    display: flex;
    justify-content: flex-end;
}
.modaleRow{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 60px;
}
.modaleImg{
    border-radius: 50%;
    height: 170px;
    width: 170px;
    object-fit: cover;
    margin-bottom: 25px;
}
.modaleImgBox{
    display: flex;
    justify-content: center;
}
.modaleRowButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    height: 80px;
}
.logout{
    color:black;
    font-size: 17px;
    text-align: center;
    color: rgb(43, 0, 64);
    font-weight: 700;
}
.logout:hover{
   color:  rgb(154, 5, 229);;
    transition: 0.4s;
}
.modaleBottom{
    text-align: center;
    padding: 10px;

}
.crossSvg{
    width: 30px;
     cursor: "pointer";
     margin: 10px;
     fill: black;
     transition: fill 0.3s;
}
.crossSvg:hover, .crossSvg:hover path {
    fill: rgb(154, 5, 229);
    stroke: rgb(154, 5, 229);
}
.crossSvg path {
    stroke: black;
    stroke-width: 10;
    transition: stroke 0.3s;
  }
  
