<div class="modaleBackground hidden">
    <div class="superModale hidden">
        <div class="headerModale">
            <p class="titleModale">Save ArtWork</p>
            <button class="closeButton customButton closeModaleStyle">X</button>
        </div>
        <p>Do you want to save this artwork and share it in the Gallery?</p> 
        <button id="sendDataButton" class="customButton generateButton">Save</button>
    </div>
</div>