
/* 
========================
Background
========================
*/

main{
    background-image: url("/images/design/background-data.jpg");
    background-size: cover;
    background-position: center 60px;
    background-repeat: no-repeat;
    object-fit: cover;
}

/* ------------ */

.headerTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    transition: 1s;
}
.titleImg{
    position: absolute;
    width: 500px;
    height: 85px;
    top: 80px;
}
.headerTitle h1{
    font-size: 23px;
    text-align: center;
    padding-top: 52px;
    font-weight: 600;
    z-index: 2;
}
  
.mainContainer{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.fabric-container{
    margin-top: 3vh;
    margin-bottom: 20px;
    height: 100vh;
    position: relative;

}
.canvas-parent{
    position: relative;
}
.canvas-container {
    position: absolute!important;
    top: 0!important;
    left: 0!important;
    width: 100%!important;
    height: 100%!important;
}

#drawingCanvas {
    /* position: absolute; */
    /* top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    position: relative;
    z-index: 0;
    border: 3px dashed var(--var-primary);
    background: repeating-conic-gradient(#dddddd67 0% 25%, transparent 0% 50%) 0% 0% / 20px 20px;
    clip-path: polygon(40px 0, 100% 0%, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0 40px);
}
#cursorCanvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; 
    pointer-events: none;
}
.canvas-bottom-container{
    z-index: 5;
}
.canvas-bottom{
    color:#cbd2da;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 40px;
    width: 45vw;
}

.undo-redo-container{
    display: flex;
}
.zoom-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
#zoomOutButton, #zoomInButton{
    min-width: 20px!important;
}
.sandbox-container{
    display: flex;
    position: relative; 
    justify-content: center;
    width: fit-content;
    padding: 10px;
    gap: 5vw;
    height: 100%;
    width: 100%;
}
.parametersBox{
    padding-bottom: 100px;
    position: absolute;
    right: 2vw;
    top: -5vh;

}
#toolbar{
    display: flex;
    flex-direction: column;
    margin: 15px;
    gap: 20px;
}
.toolbar-btn{
    font-size: 14px!important;
    justify-content: flex-start!important;
    margin: 3px 5px 3px 5px!important;
}
#clearCanvasButton{
    margin-top: 15px;
}
/* #toolbar button, #toolbar input{
    margin: 15px 0 ;
} */
.range-slider{
    margin: 0;
}
.disabled-btn {
    opacity: 0.6;
    cursor: none;
    pointer-events: none;
}
.btn-top-box{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

/* .btn-top-box input, .btn-top-box button{
    margin: 0 0 10px 0;
} */
.selection-tools{
    display: flex;
    gap: 10px;
}
.eraser-btn-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.brush-btn-box, .text-btn-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-btn-box{
    margin-left: 10px;
}
.text-icon-container{
    display: flex;
    gap: 30px;
  
}
.img-icon-container{
    display: flex;
}
.shapes-icon-container{
    display: flex;
    align-items: center;
}
.txt-icon{
    opacity: 0.5;
    position: absolute;
    right: 30px;
    cursor: none;
    pointer-events: none;
}
.img-icon{
    position: absolute;
    right: 30px;
    opacity: 0.5;
    cursor: none;
    pointer-events: none;
    color: black;

}
.player-icon{
    right: 50px;
}
.shapes-btn-container{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    padding-top: 5px;
}
.shapes-btn-box{
    display: flex;
    flex-direction: column;
    /* gap: 7px; */
}
.background-btn-box{
    display: flex;
    align-items: center;
    color: var(--var-white);
    margin: 0 0 0 10px;
    font-size: 18px;
    height: 55px;
}
.background-btn-box span{
    margin-right: 10px;
}
.background-btn-box div{
    margin-left: 10px;
    width: 180px;
}
.tool-section-frame{
    border: 1 solid var(--var-primary);
    border-radius: 0.5em;
    padding: 5px;
    box-shadow: 0 0 10px var(--var-primary);
    margin-bottom: 8px;
}
.ux-icons{
    margin-right: 10px;
}

/* ------- Color pickers -------*/

#brushColorPicker, #textColorPicker, #backgroundColorPicker{
    width: 40px;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* background-color: var(--var-primary); */
    /* border: 5px solid var(--var-primary); */
    cursor: pointer;
    border-radius:0.5em;
}
#shapesColorPicker{
    width: 70px;
    height: 70px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    border-radius:0.5em;
}

/* ------- SciFi box card -------*/
  
.card {
    background: rgba(0,0,0,.5);
    /* min-width: 5vw; */
    height: 100%;
    /* padding: var(--var-notchSize/2) var(--var-notchSize); */
    box-shadow: inset 0 0 10px var(--var-primary);
    clip-path: polygon(40px 0, 100% 0%, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0 40px);
    padding: 10px;
    .card-title {
        font-weight: 700;
        font-size: 25px;
        padding: 10px 0 0 0;
        animation: text-glow 1.1s ease-in-out infinite alternate;
    }
    
    .separator, .separator2 {
        height: 1px;
        width: 100%;
        background-color: var(--var-primary);
        margin: 10px 0 18px 0;
        box-shadow: 0 0 10px var(--var-primary);
    }
    
    .card-content {
        text-shadow: 0px 0px 5px rgba(255,255,255,.2);
        /* display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center; */
        margin: 10px;
    }
}
    
.card-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    filter: drop-shadow(0px 0px 3px var(--var-primary));
}
    

/* Button style */

  
.customButton{
    align-items: center;
    background-color: rgb(5, 6, 45);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 15px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 110px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
	color: var(--var-white);
    padding: 10px 14px;
    margin: 5px;
    box-shadow: inset 0 0 10px var(--var-primary);

}

.customButton:hover {
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
}


/* Select */

.inputBox{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 15px; */
  }
  .formLabel{
    font-size: 22px;
    padding: 10px ; 
  }
  
  .inputBox select:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  .inputBox select:hover {
    cursor: pointer;
  }
  
  .inputBox select {
    z-index: 2;
    display: block;
    width: 100%;
    height: 30px;
    text-align: start;
    /* padding: 0.5rem; */
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: var(--var-secondary-dark);
    /* opacity: 0.5; */
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 5px 5px 5px 20px;
  }
  

/* ---- Sliders ---- */

.range-wrap {
    position: relative;
    width: 100%;
    padding: 1em 0; /*  Giving more room for hover  */
    margin: 0 0 0 10px;
  }

  .sliderBox{
    display: flex;
    justify-content: start;
    align-items: center;
  }

/* Custom Bar */

.range-wrap::before {
    content: "";
    background: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    width: 100%;
    height: 8px;
    display: block;
    position: absolute;
    border-radius: 4px;
    top: 50%;
    transform: translateY(-50%);
    transition: height 100ms ease;
}

.range-wrap:hover::before {
    height: 10px;
}

/*  Hide Original */

.range {
    width: 100%;
    cursor: pointer;
    opacity: 0;
}
.range-wrap{
    font-family: monospace;
    min-width: 200px;
    max-width: 300px;
}

.bubble {
    background: var(--var-white);
    border: 3px solid #cbd2da;
    position: absolute;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Remove pointer events on Bubble so user can click on the actual thumb beaneath it!  */
    color: transparent;
    display: grid;
    place-items: center; /*  Place the number on the center  */
    font-weight: bold;
    transition: color 100ms ease, transform 100ms ease;
    user-select: none; /*  Prevent Accidentally highlighting the number while sliding the cursor  */
}

.range-wrap:hover .bubble,
.range-wrap:focus .bubble {
    color: black;
    transform: translateY(-50%) scale(1.5);
    padding: 0.1em;

}


 /* ---- Checkbox ---- */

.checkboxContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--var-white);
    width: 45%;
    /* padding-left: 30px; */
}
.checkboxContainer p {
    width: 40%;
}

.checkbox{
    cursor: pointer;
    width:178px;
    min-width: 178px;
    height:78px;
    border-radius:40px;
    -webkit-appearance: none;
    position:relative;
    margin:0 0 0 -30px;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4);
    background: -webkit-linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    scale: 0.45;
}
.checkbox:checked{
    background: -webkit-linear-gradient(#bfe09c,#a1f83d);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.4);
}
.checkbox:before {
    content:"|||";
    letter-spacing:1px;
    color: rgba(0,0,0,.15);
    font-size:22px;
    font-weight:100;
    text-shadow:1px 1px 1px rgb(138, 138, 138);
    width:26px;
    height:26px;
    padding:19px;
    top:7px;
    left:9px;
    position:absolute;
    border-radius:40px;
    background: -webkit-linear-gradient(#ebebeb,#f1f1f1);
    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.2), 
    -1px 1px 2px rgba(0, 0, 0, 0.3), 
    inset 1px 1px 1px var(--var-white);
    -webkit-transition: all 1s;

}
.checkbox:checked:before {
    left:106px;
    background:#f1f1f1;
}
.checkbox:after {
    content:"";
    width:14px;
    height:14px;
    top:32px;
    right:-30px;
    position:absolute;
    border-radius:40px;
    background: -webkit-linear-gradient(#fcc4c5,#e12c2d);
    box-shadow: inset -1px -1px 4px #8d0808, 
    inset 1px 1px 2px #bb1313;			
}
.checkbox:checked:after {
    background: -webkit-linear-gradient(#d8eec4,#5fa718);
    box-shadow: inset -1px -1px 4px #417f0b, 
        inset 1px 1px 2px #5b9f1a;			
}
  
  /* ---- Input text ---- */

/* #textInput{
    margin: 5px;
    width: 70%;
} */
.text-input-container{
    display: flex;
    align-items: center;
}
.txt-bottom-box{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    margin-left: 10px;
}
.input {
    margin-top: 10px;
    margin-bottom: 5px;
	position:relative;
	/* font-size: 1.5em; */
	background: linear-gradient(21deg, #10abff, #1beabd);
	padding: 3px;
	display: inline-block;
	border-radius: 0.3em;
	*:not(span) {
		position: relative;
		display: inherit;
		border-radius: inherit;
		margin: 0;
		border: none;
		outline: none;
		padding: 0 .325em;
		z-index: 1; 
		&:focus + span {
			opacity: 1;
			transform: scale(1);
		}
	}
	
	span {
		transform: scale(.993, .94); 
		transition: transform .5s, opacity .25s;
		opacity: 0; 	
		position:absolute;
		z-index: 0;
		margin:4px; 
		left:0;
		top:0;
		right:0;
		bottom:0;
		border-radius: inherit;
		pointer-events: none; 

		box-shadow: inset 0 0 0 3px #fff,
			0 0 0 4px #fff,
			3px -3px 20px #1beabd, 
			-3px 3px 20px #10abff;
	}
	
}

#textInput {
	font-family: inherit;
	line-height:inherit;
	color:var(--var-main-fg);
	min-width:12em;
    height: 25px;
    background-color: var(--var-secondary-dark);
}

::placeholder {
	color:#eeeeeeab;
    font-weight: 500;
}

/* ---- Input file ---- */

#imageInput{
    color:#ddd;
    margin: 5px;
    z-index: 5;
}
.img-btn-box{
    margin-top: 10px;
    display: flex;

    flex-direction: column;

}
.img-btn{
    width: 100px;
}
input[type=file] {
    /* color: #222245;
    padding: 8px 12px;
    background-color: #ffffff00;
    border: 1px solid var(--var-purple-dark); */
}
input[type=file]::file-selector-button {
    margin-right: 8px;
    border: none;
    background: var(--var-secondary-dark);
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
}
input[type=file]::file-selector-button:hover {
    background: var(--var-custom-button);
}
input[type=file]:focus {
    outline: 2px dashed #000;
    outline-offset: 2px;
  }


  /* ---- Multiplayer panel ---- */


.multiplayer-container{
    left: 5vw;
    top: 3vw;
    position: absolute;
    font-size: 15px;
    color: var(--var-white);
    z-index: 10;
}
.multiplayer-container h3{
    color: var(--var-white);
    /* background-color: #00000071; */
}

.multiplayer-container .card-title{
    font-size: 25px;
    color: var(--var-black);
}
.players{
    display: flex;
    align-items: center;
    padding: 10px;
    min-height: 15vh;
    background-color: #0000005d;
}
.players div{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.chat{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
    font-size: 13px;
    min-height: 20vh;
    background-color: #0000005d;

}
.multi-card{
    padding: 15px;
    min-width: 17vw;
}
.multi-card .card-title{
    padding-bottom: 5px;
}