html {
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}
main {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
  height: 100%;
  padding-top: 70px;
  text-align: center;
}
h1{
    margin: 53px 23px 8px 23px;
    font-size: 60px;
} 
h2::before {
  content: "";
  display: block;
  height: 80px; 
  margin-top: -150px; 
  visibility: hidden;
}
h2{
    margin: 18px;
    font-size: 40px;
    font-weight: 400;
    height: 150px;
    margin-bottom: 30px;
    padding-top: 30px;
    display: flex;
    align-items: center;
}

.tableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top:7%; */
	/* top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
    
}
.tableContainer p{
    font-size: 30px;
    margin: 15px;
}
table {
	width: 60%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
  margin: 15px;
  clip-path: polygon(40px 0, 100% 0%, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0 40px);    
}
.commentTable{
  word-break: break-all;
  min-width: 250px;
}
.dateTable{
  min-width: 150px;
}
th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: var(--var-white);
}

th {
	text-align: left;
}

thead th {
    text-align: center;
	th {
		background-color: #55608f;
  
	}
}
tr:hover {
    background-color: rgba(255,255,255,0.3);
  }
th,td:hover {
background-color: rgba(255,255,255,0.3);
}

.artworkImg{
    min-width: 150px;
    max-width: 250px;
    clip-path: polygon(30px 0, 100% 0%, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0 30px);
    border: solid 3px #00DDEB;
}


.superModale{
  background-color:var(--var-purple-dark);
  width: 350px;
  height: 210px;
  position: absolute;
  top: 10%;
  z-index: 15;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  opacity: 0;
  border-radius: 10px;
  color: var(--var-white);
}
.superModale p {
  text-align: center;
  margin: 10px;
  margin-bottom: 25px;
}
.modaleBackground{
  background-color: rgba(128, 128, 128, 0.525);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 14;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hidden{
  opacity: 0;
  pointer-events: none;
}
.translate{
  opacity: 1;
  transform: translate(0,120px);
  transition: opacity 0.5s, transform 0.5s;
}
.headerModale{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
  animation: text-glow 1.1s ease-in-out infinite alternate;
  font-size: 23px;
}
.headerModale h1{
  font-size: 23px;
  text-align: center;
  margin: auto;
  padding-top: 32px;
  font-weight: 600;
  z-index: 2;
}
.closeButton{
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top:5px;
}
.closeModaleStyle{
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
}
.generateButton{
  min-width: 100px;
  max-width: 150px;
  margin: auto;
  margin-bottom: 20px;
}

/* 
========================
FLying card
========================
*/

.flyingCard{
  transition: 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: fixed;
  bottom: 80px;
  left: 50px;
  z-index: 2;
}
.flyingCard a{
  font-size:15px;
  padding: 20px;

}


/* ------- SciFi box card -------*/
  
.card {
  animation: apparition 2s, voleCourbe  6s infinite;
  animation-delay: 0s, 1.8s;
  animation-timing-function: ease-in-out;
  transition: transform 0.5s ease-in-out;
  /* animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */

  background: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
  padding: var(--var-notchSize/2) var(--var-notchSize);
  box-shadow: inset 0 0 10px var(--var-primary);
  clip-path: polygon(40px 0, 100% 0%, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0 40px);
  padding: 10px;

  
  .separator{
    height: 1px;
    width: 100%;
    background-color: var(--var-primary);
    margin: 10px 0;
    box-shadow: 0 0 10px var(--var-primary);
  }
  
  .card-content {
    text-shadow: 0px 0px 5px rgba(255,255,255,.2);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
}
  
.card-border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  filter: drop-shadow(0px 0px 3px var(--var-primary));
}
.card:hover {
  background-color: #00dbeb27;
  animation-play-state: paused;
}
/* ---- Animations ---- */

@keyframes apparition {
  0% {
    transform: translateY(250px);
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes voleCourbe {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, -5px) rotate(3deg);
  }
  50% {
    transform: translate(0, -15px) rotate(-3deg);
  }
  75% {
    transform: translate(-10px, -5px) rotate(3deg);
  }
  100% {
    transform: translate(0, 0);
  }
}
/* 
========================
LightBox
========================
*/

#lightbox{
  margin-top: 20px;
}

/* 
========================
Media queries
========================
*/

/* ----------------------------- < 1300px ------------------------------ */

  @media screen and (max-width: 1300px) {
    .table{
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        min-width: 80%;
    }
    .commentTable{
        word-wrap: break-word;
        max-width: 150px;
        overflow-y: auto;
        white-space: wrap;
    }

    img{
        width: 150px;
    }
}

/* ----------------------------- < 900px ------------------------------ */

@media screen and (max-width: 900px) {
  h1{
    font-size: 40px;
  }

.flyingCard{
  transition: 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: fixed;
  bottom: 60px;
  left: 15px;
  z-index: 10;
}
.flyingCard a{
  font-size:14px;
  padding: 15px;

}

  .card{
    width: 90%;
    .separator{
      height: 1px;
      width: 90%;
      background-color: var(--var-primary);
      margin: 5px 0;

    }
  }
}